/* $Id: js-override-topcoll.css,v 1.4.2.4 2010/04/03 19:24:25 gb2048 Exp $ */
/*-- This css file differs from topics_collapsed.css because it defines classes that will be
        manipulated by the JavaScript in lib.js (or its compressed version lib_min.js). -- */

/* -- The class which is used to hide and show the sections underneath their Toggle. -- */
tr.hid {
		display: none;
	  }