{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_topcoll/singlesectionstyles

    Collapsed Topics single section styles template.

    Context variables required for this template:
    * topcollsidewidthval - Side width.

    Example context (json):
    {
        "topcollsidewidthval": "40px"
    }
}}
<style type="text/css" media="screen">
    /* <![CDATA[ */

    .course-content ul.ctopics li.section.main > .content,
    .course-content ul.ctopics li.tcsection > .content {
        margin: 0 {{topcollsidewidthval}};
    }

    /* ]]> */
</style>
